<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Casas Sistema</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>

    <!-- NAVBAR PRINCIPAL -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <span class="navbar-brand">Sistema de alquiler de casas</span>

            <div class="navbar-nav ms-auto">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Inicio</a>
                <a class="nav-link" asp-controller="Casas" asp-action="ConsultaCasas">Consulta de casas</a>
                <a class="nav-link" asp-controller="Casas" asp-action="Alquilar">Alquiler de casas</a>
            </div>
        </div>
    </nav>

    <!-- BARRA DECORATIVA -->
    <div class="topbar-accent"></div>

    <!-- CONTENIDO -->
    <main class="content-wrapper">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>